* {
    text-align: center;
    color: #4B6587;
}

body {
    margin: 2em auto;
    width: 40%;
    background-color: #F7F6F2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

h2 {
    font-size: 1.2em;
}

p {
    line-height: 2;
}

footer {
    margin: 10vh auto;
}

img {
    width: 300px;
    height: auto;
    border: solid 4px #4B6587;
    border-radius: 20px;
}

img:hover {
    transform: scale(1.11);
}

li {
    margin: 1em;
}

ul li {
    text-align: center;
}

ol li {
    text-align: left;
}

a {
    font-size: 1.2em;
    text-decoration: underline;
    color: #4B6587;
}

a:hover {
    color: #79B4B7;
}